@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  color: #000;
  background-color: #fff;
}

.page-header {
  display: flex;
  margin: 0 70px;
  color: #000;
  background-color: #fff;
}

.logo-header {
  position: absolute;
}

.navigation {
  display: flex;
  width: 892px;
  margin-left: auto;
  padding: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 339px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  min-width: 44px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
  align-items: center;
}

.navigation-item .icon {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: auto;
}

.here {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 92px;
  padding: 8px 34px;
  color: #ffffff;
  background: #756157;
  text-transform: uppercase;
  border-radius: 4px;
  margin-left: 15px;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.picture {
  display: grid;
  grid-template-columns: 371px 458px 371px;
  grid-template-rows: 26px 352px 57px;
  gap: 25px 0;
  background-image: url(../images/index-background.jpg);
  height: 485px;
  color: #000;
  background-color: #fff;
  max-width: 100%;
}

.welcome {
  background-image: url(../images/logos/logo-main.svg);
  background-repeat: no-repeat;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  max-width: 100%;
}

.divider {
  background-image: url(../images/divider.png);
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  max-width: 100%;
}

.small-town-not-grandcanyon {
  display: grid;
  grid-template-rows: 141px 25px 116px;
  margin: 0;
}

.small-town {
  justify-self: center;
  align-self: flex-end;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.cooler {
  grid-row: 3 / 4;
  justify-self: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.advantages {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 0;
}

.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 384px 384px 384px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 230px;
  padding: 103px 85px 111px 85px;
  margin: 0;
}

.advantages-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  width: 175px;
  padding: 0 28px 62px;
  margin: 0;
}

.city {
  grid-column: 1 / 2;
  color: #fff;
  background: #82b3d3;
  padding: 92px 85px 111px 85px;
}
.photo-city {
  grid-column: 2 / 4;
  max-width: 100%;
}

.photo-bridge {
  grid-column: 1 / 3;
  grid-row: -2 / -1;
  max-width: 100%;
}

.small-area {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.road {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background: rgba(131, 179, 211, 0.2);
}

.turist {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.bridge {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  color: #fff;
  background: #82b3d3;
  padding: 92px 85px 111px 85px;
}

.recommendations {
  margin: 0;
  background-color: rgba(131, 179, 211, 0.12);
  color: #000;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.recommendations-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 384px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.recommendation-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding: 25px 0 30px;
  margin: 0;
}

.description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.recommendation-item {
  margin: 0;
  padding: 80px 85px 81px 85px;
}

.housing {
  grid-column: 1 / 2;
  align-self: center;
}

.food {
  grid-column: 2 / 3;
  background-color: #fff;
}

.souvenirs {
  grid-column: 3 / 4;
  align-self: center;
}

.hotel-search {
  display: grid;
  grid-template-columns: 284px 592px 284px;
  grid-template-rows: 132px 52px 182px;
  gap: 20px;
  color: #000;
  background-color: #fff;
}

.interested {
  grid-column: 2 / 3;
  margin: 96px 148px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
}

.best-offers {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000;
  background-color: #fff;
}

.btn {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  padding-top: 8px;
  margin: 34px 109px 96px 109px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background: #756157;
  text-transform: uppercase;
  border-radius: 4px;
}

.newsletter {
  display: grid;
  grid-template-columns: 238px 684px 238px;
  grid-template-rows: 133px 87px 52px 83px;
  gap: 20px;
  background-image: url(../images/subscribe.jpg);
  max-width: 100%;
  background-color: #000;
}

.subscribe-to-newsletter {
  grid-column: 2 / 3;
  margin: 0;
  justify-self: center;
  align-self: flex-end;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #fff;
}

.no-spam {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0;
  justify-self: center;
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-form {
  display: grid;
  grid-column: 2 / 3;
  grid-row: -3 / -2;
  grid-template-columns: 452px 1fr;
  width: 685px;
}

.field {
  margin: 0;
  padding: 14px 20px 14px 20px;
  border: 0;
  color: #000;
  background: #f2f2f2;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px 0 0 4px;
}

.newsletter-button {
  color: #fff;
  background: #82b3d3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 0;
  border: 0;
  margin: 0;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
}

.page-footer {
  display: grid;
  grid-template-columns: 142px 720px 115px;
  grid-template-rows: 50px ;
  gap: 40px;
  margin: 0;
  margin-top: 40px;
  margin-right: 70px;
  margin-left: 70px;
  margin-bottom: 30px;
  color: #000;
}

.footer-social {
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

.footer-social-list {
  display: grid;
  grid-template-columns: 47px 47px 47px;
  grid-template-rows: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-link {
  background-color: #fff;
  fill: #83B3D3;
}

.footer-social-icon {
  margin: 0;
  padding: 13px 12px;
}

.footer-social-link:hover {
  fill: #68A2CA;
}

.footer-social-link:focus {
  fill: #68A2CA;
}

.footer-social-link:active {
  fill: rgba(104, 162, 202, 0.3);
}

.contacts {
  justify-self: center;
  margin-top: 4px;
}

.footer-contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000;
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-social-label {
  align-self: center;
  margin-top: 4px;
  margin-left: 2px;
}

.footer-label-company {
  margin: 0;
  fill: #000;
}

.footer-label-company:hover {
  fill: #756157;
}

.footer-label-company:focus {
  fill: #756157;
}

.footer-label-company:active {
  fill: rgba(117, 97, 87, 0.3);
}
